html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: 0 auto;
  /* padding: 0px 40px 0px; */
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  //min-width: 320px;
  //min-height: 100vh;
  color: $mainFontColor;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  background-color: #4d4855;
  //background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__wrapper {
  display: flex;
}

a {
  text-decoration: none;
  display: block;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
